* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    color: white;
}

.main-home-container {
    position: relative;

    padding-top: 82px;

    background-color: #654520;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    > h1 {
        font-family: "Sora", sans-serif;
        font-size: 2.25rem;
        font-weight: 600;

        width: 90%;
    }

    .home-description {
        position: relative;
        z-index: 4;
        display: flex;
        flex-direction: column;

        gap: 30px;

        width: 90%;
        padding-bottom: 60px;

        > p {
            font-size: 0.875rem;
            font-weight: 400;

            > span {
                color: #1a1108;
                font-weight: 600;
            }
        }
    }
    .vetor-curve {
        width: 100%;
        height: 100%;

        z-index: 3;
    }
    .family {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 55%;

        z-index: 2;
    }

    @media (min-width: 769px) {
        padding-top: 130px;

        > h1 {
            width: 100%;

            font-size: 4rem;
            padding: 0 100px;
        }
        .home-description {
            width: 100%;
            > p {
                padding: 0 100px;
                font-size: 1.125rem;
            }
        }
        .family {
            bottom: 5%;
            width: auto;
            height: auto;
        }
    }
}
