* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    position: relative;
    font-family: "Roboto", sans-serif;

    background: url(https://raw.githubusercontent.com/isgabriel/yourseg-nova/9c9783c5d0a8f0e09422912e7c7c4d755189fb2b/contratar-seguro/src/assets/familia-2-desfocada.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    text-align: left;

    .vetor-down {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
    }
    .text-div {
        padding-top: 200px;

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        > h1 {
            font-size: 2rem;
            font-weight: 700;

            text-transform: uppercase;
        }
        > p {
            font-size: 0.875rem;
            font-weight: 500;
        }
        > h1,
        > p {
            width: 90%;
        }
    }

    @media (min-width: 769px) {
        width: auto;

        padding: 20px 100px;

        align-items: baseline;

        .text-div {
            align-items: baseline;

            > h1 {
                font-size: 4rem;
            }
            > p {
                font-size: 1.125rem;
            }
        }
    }
    @media (min-width: 1100px) {
        .text-div {
            padding-top: 25%;
        }
    }
}
