<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Sora:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />

        <!-- Clarity -->
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "jrkq2zxld6");
        </script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="shortcut icon"
            href="https://raw.githubusercontent.com/isgabriel/yourseg-nova/2ca11b2437e51eb5ec105a5b6c66b877f0c1bc53/header/src/assets/logo-menu.svg"
            type="image/x-icon"
        />
        <title>YourSeg</title>
        <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
        />
        <meta name="importmap-type" content="systemjs-importmap" />
        <script type="systemjs-importmap">
            {
                "imports": {
                    "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
                    "react": "https://unpkg.com/react@18/umd/react.production.min.js",
                    "react-dom": "https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
                }
            }
        </script>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
            as="script"
        />

        <% if (isLocal) { %>
        <script
            type="systemjs-importmap"
            src="https://yourseg-isgabriel.nyc3.digitaloceanspaces.com/importmap.development.json"
        ></script>
        <% } else { %>
        <script
            type="systemjs-importmap"
            src="https://yourseg-isgabriel.nyc3.digitaloceanspaces.com/importmap.production.json"
        ></script>
        <% } %>

        <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
        <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
        <% } else { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
        <% } %>
    </head>
    <body>
        <noscript> You need to enable JavaScript to run this app. </noscript>
        <main></main>
        <script>
            System.import("@gm/root-config");
        </script>
        <import-map-overrides-full
            show-when-local-storage="devtools"
            dev-libs
        ></import-map-overrides-full>
    </body>
</html>
