* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;

    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 35px 0;

    width: 100vw;

    background-color: rgba(15, 15, 15, 0.65);

    > div,
    > nav {
        width: 80%;
    }

    .navbar {
        display: flex;
        flex-direction: column;

        gap: 10px;

        > a {
            font-size: 0.875rem;

            text-decoration: none;
            text-transform: uppercase;

            color: #ffefe6;

            &:hover {
                color: #7c3c21;
                transform: scale(1.1);
                transition: 0.6s;
            }
        }
    }

    @media (min-width: 769px) {
        flex-direction: row;
        justify-content: space-between;

        padding: 35px 110px;

        > div,
        > nav {
            width: auto;
        }

        .navbar {
            flex-direction: row;
            justify-content: space-between;
            min-width: 30%;

            > a {
                font-size: 1.25rem;
            }
        }
    }
}
