.main-container {
    font-family: "Roboto", sans-serif;

    background: url(./assets/familia-1-desfocada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.title-page {
    color: white;
    font-size: 80px;
}
